In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv(r"/Users/karinashalya/Downloads/Titanic.csv")

In [3]:
titanic.PassengerId.count() # Смотрим кол-во пассажиров

891

In [4]:
titanic.Age.mean() # Cредний возраст пассажира

29.69911764705882

In [5]:
titanic.Fare.mean() # Средняя стоимость билета

32.204207968574636

In [6]:
titanic.Fare.min() # Минимальная цена билета

0.0

In [7]:
titanic.Fare.max() # Максимальная цена билета

512.3292

In [8]:
titanic.Name[titanic.Fare == titanic.Fare.max()] # Пассажир с максимальной ценой билета

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [9]:
titanic.Age[titanic.Sex == "male"].mean() # Средний возраст мужчин

30.72664459161148

In [10]:
titanic.Age[titanic.Sex == "female"].mean() # Средний возраст женщин

27.915708812260537

In [11]:
titanic.Survived[titanic.Sex == "male"].mean() # Средний процент выживаемости мужчин

0.18890814558058924

In [12]:
titanic.Survived[titanic.Sex == "female"].mean() # Средний процент выживаемости женщин

0.7420382165605095

In [13]:
titanic.groupby('Pclass')['Fare'].mean() # Средняя стоимость билета в зависимости от класса проживания

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [14]:
titanic['Pclass'].value_counts() # Количество билетов по классам проживания

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [15]:
titanic['Survived'].sum() # Количество выживших пассажиров

342